// COLORS
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$guttter-vertical: 8rem;
$guttter-vertical-small: 6rem;